<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffff67">
    <div class="container-fluid">
        <a class="navbar-brand ms-5 fs-4" href="/">Food Stop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active ms-5 fs-5" aria-current="page" href="/">Home</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle ms-5 fs-5" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        @ArturoS11
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item btn-outline-warning" href="profile/viewprofile.html">View
                                Profile</a></li>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item btn-outline-warning" href="#">Logout</a></li>
            </ul>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ms-5 fs-5" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Guest(Demo)
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/register">Register</a>
                    <a class="dropdown-item" href="/login">Login</a>
                </ul>
            </li>
        </div>
    </div>
</nav>