<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <style>
        a:link {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .dropdown-item:hover {
            background-color: rgb(247, 222, 85);
        }
    </style>
</head>

<body>
    {{> header flag=flag}}
    <div class="container">
        <h1 class="display-4 mt-5 text-center fw-bold">Welcome to FOOD STOP!</h5>
    </div>
</body>

</html>